.buildpath
scratch/*
.project
.settings/*
orderfiles/*
lib/utilities/cache.storage/files/*
lib/utilities/cache.storage/.htaccess
.DS_Store
*/.DS_Store
vendor/
report/
reportfiles/
app2
db/
.idea/
aws.yml
test/compare
config/local.conf
config/environment.conf
import_logs/
logs/*.log
compare/
phinx.yml
config/smaw_database_unittest.conf
